.request {
  margin: 0 10%;
  border: solid black 5px;
  border-radius: 5px;

  width: 80%;

  color: white;
  background: #00A7FF;
  text-align: center;
}

.request-title {
  height: 40px;

  border-bottom: solid black 5px;
}

.request-desc {
  padding: 20px;

  border-bottom: solid black 5px;
}
