<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <div class="navbar-brand">
        <a href="/#/">Proposition Green</a>
      </div>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Menu <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="link in links">
            <a ng-click="openLink(link.link)">{{link.text}}</a>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</nav>
